USE [master]
GO
/****** Object:  Database [Poligamy]    Script Date: 24/05/2017 20:59:46 ******/
CREATE DATABASE [Poligamy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Poligamy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL2014\MSSQL\DATA\Poligamy.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Poligamy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL2014\MSSQL\DATA\Poligamy_log.ldf' , SIZE = 6912KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Poligamy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Poligamy]
GO
/****** Object:  Table [dbo].[Acceso]    Script Date: 24/05/2017 20:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Acceso](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idPermiso] [int] NULL,
	[idRol] [int] NULL,
 CONSTRAINT [PK_Acceso] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Administrador_Supermercado]    Script Date: 24/05/2017 20:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrador_Supermercado](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idSupermercado] [int] NULL,
	[idPersona] [int] NULL,
 CONSTRAINT [PK_AdminSupermercado] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Afiliado]    Script Date: 24/05/2017 20:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Afiliado](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cupo] [numeric](8, 0) NULL,
	[idPersona] [int] NULL,
 CONSTRAINT [pk_Afiliado] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Beneficiario]    Script Date: 24/05/2017 20:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beneficiario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idAfiliado] [int] NOT NULL,
	[cupo] [numeric](8, 0) NOT NULL,
	[fechaCompraInicio] [datetime] NOT NULL,
	[fechaCompraFin] [datetime] NOT NULL,
	[idPersona] [int] NOT NULL,
	[activo] [bit] NULL,
 CONSTRAINT [pk_Beneficiario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cajero_Supermercado]    Script Date: 24/05/2017 20:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cajero_Supermercado](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numeroCaja] [int] NOT NULL,
	[idPersona] [int] NOT NULL,
	[idSupermercado] [int] NULL,
 CONSTRAINT [PK_Caja] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Compra]    Script Date: 24/05/2017 20:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compra](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idSupermercado] [int] NOT NULL,
	[idBeneficiario] [int] NULL,
	[fecha] [datetime] NULL,
	[total] [numeric](18, 0) NULL,
 CONSTRAINT [PK_Compra] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CompraDetalle]    Script Date: 24/05/2017 20:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompraDetalle](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idProducto] [int] NOT NULL,
	[cantidad] [nchar](10) NULL,
	[idCompra] [int] NULL,
 CONSTRAINT [pk_CompraDetalle] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 24/05/2017 20:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_Permiso] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Persona]    Script Date: 24/05/2017 20:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[identificacion] [int] NOT NULL,
	[nombres] [nvarchar](50) NOT NULL,
	[apellidos] [nvarchar](50) NOT NULL,
	[ciudadResidencia] [nvarchar](100) NOT NULL,
	[direccionResidencia] [nvarchar](50) NOT NULL,
	[numeroTelefono] [numeric](11, 0) NOT NULL,
	[email] [nvarchar](50) NULL,
 CONSTRAINT [pk_Persona] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Producto]    Script Date: 24/05/2017 20:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](50) NOT NULL,
	[precioUnitario] [numeric](18, 0) NOT NULL,
 CONSTRAINT [pk_Producto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Red_Supermercado]    Script Date: 24/05/2017 20:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Red_Supermercado](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RedSupermercado] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rol]    Script Date: 24/05/2017 20:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[descripcion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Rol__6ABCB5E06A30C649] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Supermercado]    Script Date: 24/05/2017 20:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supermercado](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ciudad] [nvarchar](50) NOT NULL,
	[direccion] [nvarchar](50) NOT NULL,
	[idRedSupermercado] [int] NOT NULL,
 CONSTRAINT [PK_Supermercado] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 24/05/2017 20:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idRol] [int] NOT NULL,
	[nombreUsuario] [nvarchar](50) NOT NULL,
	[contrasena] [nvarchar](100) NOT NULL,
	[idPersona] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Acceso] ON 

INSERT [dbo].[Acceso] ([id], [idPermiso], [idRol]) VALUES (2, 1, 5)
INSERT [dbo].[Acceso] ([id], [idPermiso], [idRol]) VALUES (3, 2, 5)
INSERT [dbo].[Acceso] ([id], [idPermiso], [idRol]) VALUES (4, 3, 5)
SET IDENTITY_INSERT [dbo].[Acceso] OFF
SET IDENTITY_INSERT [dbo].[Administrador_Supermercado] ON 

INSERT [dbo].[Administrador_Supermercado] ([id], [idSupermercado], [idPersona]) VALUES (1, 1, 2)
INSERT [dbo].[Administrador_Supermercado] ([id], [idSupermercado], [idPersona]) VALUES (2, 2, 4)
INSERT [dbo].[Administrador_Supermercado] ([id], [idSupermercado], [idPersona]) VALUES (3, 3, 5)
SET IDENTITY_INSERT [dbo].[Administrador_Supermercado] OFF
SET IDENTITY_INSERT [dbo].[Afiliado] ON 

INSERT [dbo].[Afiliado] ([id], [cupo], [idPersona]) VALUES (1, CAST(10000000 AS Numeric(8, 0)), 11)
SET IDENTITY_INSERT [dbo].[Afiliado] OFF
SET IDENTITY_INSERT [dbo].[Beneficiario] ON 

INSERT [dbo].[Beneficiario] ([id], [idAfiliado], [cupo], [fechaCompraInicio], [fechaCompraFin], [idPersona], [activo]) VALUES (1, 1, CAST(32313 AS Numeric(8, 0)), CAST(N'2017-05-13 00:00:00.000' AS DateTime), CAST(N'2017-05-31 00:00:00.000' AS DateTime), 14, 0)
INSERT [dbo].[Beneficiario] ([id], [idAfiliado], [cupo], [fechaCompraInicio], [fechaCompraFin], [idPersona], [activo]) VALUES (2, 1, CAST(1232 AS Numeric(8, 0)), CAST(N'2017-05-06 00:00:00.000' AS DateTime), CAST(N'2017-05-27 00:00:00.000' AS DateTime), 15, 0)
INSERT [dbo].[Beneficiario] ([id], [idAfiliado], [cupo], [fechaCompraInicio], [fechaCompraFin], [idPersona], [activo]) VALUES (3, 1, CAST(98765 AS Numeric(8, 0)), CAST(N'2017-05-07 00:00:00.000' AS DateTime), CAST(N'2017-05-25 00:00:00.000' AS DateTime), 16, 1)
SET IDENTITY_INSERT [dbo].[Beneficiario] OFF
SET IDENTITY_INSERT [dbo].[Permiso] ON 

INSERT [dbo].[Permiso] ([id], [nombre]) VALUES (1, N'Administracion')
INSERT [dbo].[Permiso] ([id], [nombre]) VALUES (2, N'Compras')
INSERT [dbo].[Permiso] ([id], [nombre]) VALUES (3, N'Reportes')
SET IDENTITY_INSERT [dbo].[Permiso] OFF
SET IDENTITY_INSERT [dbo].[Persona] ON 

INSERT [dbo].[Persona] ([id], [identificacion], [nombres], [apellidos], [ciudadResidencia], [direccionResidencia], [numeroTelefono], [email]) VALUES (0, 0, N' ', N' ', N' ', N' ', CAST(0 AS Numeric(11, 0)), N' ')
INSERT [dbo].[Persona] ([id], [identificacion], [nombres], [apellidos], [ciudadResidencia], [direccionResidencia], [numeroTelefono], [email]) VALUES (2, 1090427627, N'EDWIN YAMIT', N'ARCHILA REYES', N'Bogotá', N'Cl 23 # 124 - 45', CAST(3347640 AS Numeric(11, 0)), N'jagiguvexe@alienware13.com')
INSERT [dbo].[Persona] ([id], [identificacion], [nombres], [apellidos], [ciudadResidencia], [direccionResidencia], [numeroTelefono], [email]) VALUES (4, 1090437589, N'JENNIFER TARAZONA', N' ALBARRACIN', N'Bogotá', N'Cra 45 # 14 - 32', CAST(3431223 AS Numeric(11, 0)), N'vabozoke@klipschx12.com')
SET IDENTITY_INSERT [dbo].[Persona] OFF
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([id], [descripcion], [precioUnitario]) VALUES (1, N'Té Dharamsala', CAST(57546 AS Numeric(18, 0)))
INSERT [dbo].[Producto] ([id], [descripcion], [precioUnitario]) VALUES (2, N'Cerveza tibetana Barley', CAST(60743 AS Numeric(18, 0)))
INSERT [dbo].[Producto] ([id], [descripcion], [precioUnitario]) VALUES (3, N'Sirope de regaliz', CAST(31970 AS Numeric(18, 0)))
SET IDENTITY_INSERT [dbo].[Producto] OFF
SET IDENTITY_INSERT [dbo].[Red_Supermercado] ON 

INSERT [dbo].[Red_Supermercado] ([id], [nombre]) VALUES (1, N'Polygamy Red de Supermercados')
SET IDENTITY_INSERT [dbo].[Red_Supermercado] OFF
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([id], [nombre], [descripcion]) VALUES (0, N'admin', N' ')
INSERT [dbo].[Rol] ([id], [nombre], [descripcion]) VALUES (4, N'Cajero', N'')
INSERT [dbo].[Rol] ([id], [nombre], [descripcion]) VALUES (5, N'Administrador', N'')
SET IDENTITY_INSERT [dbo].[Rol] OFF
SET IDENTITY_INSERT [dbo].[Supermercado] ON 

INSERT [dbo].[Supermercado] ([id], [ciudad], [direccion], [idRedSupermercado]) VALUES (1, N'Bogotá', N'Cra 1 # 1 -2', 1)
INSERT [dbo].[Supermercado] ([id], [ciudad], [direccion], [idRedSupermercado]) VALUES (2, N'Bogotá', N'Cra 2 # 2 - 3', 1)
INSERT [dbo].[Supermercado] ([id], [ciudad], [direccion], [idRedSupermercado]) VALUES (3, N'Bogotá', N'Calle 14 # 56- 78', 1)
SET IDENTITY_INSERT [dbo].[Supermercado] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id], [idRol], [nombreUsuario], [contrasena], [idPersona]) VALUES (0, 0, N'admin', N'.v^????E:???>???#???~???U??n', 0)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
ALTER TABLE [dbo].[Acceso]  WITH CHECK ADD  CONSTRAINT [FK_Acceso_Permiso] FOREIGN KEY([idPermiso])
REFERENCES [dbo].[Permiso] ([id])
GO
ALTER TABLE [dbo].[Acceso] CHECK CONSTRAINT [FK_Acceso_Permiso]
GO
ALTER TABLE [dbo].[Acceso]  WITH CHECK ADD  CONSTRAINT [FK_Acceso_Rol] FOREIGN KEY([idRol])
REFERENCES [dbo].[Rol] ([id])
GO
ALTER TABLE [dbo].[Acceso] CHECK CONSTRAINT [FK_Acceso_Rol]
GO
ALTER TABLE [dbo].[Administrador_Supermercado]  WITH CHECK ADD  CONSTRAINT [FK_Administrador_Supermercado_Persona] FOREIGN KEY([idPersona])
REFERENCES [dbo].[Persona] ([id])
GO
ALTER TABLE [dbo].[Administrador_Supermercado] CHECK CONSTRAINT [FK_Administrador_Supermercado_Persona]
GO
ALTER TABLE [dbo].[Administrador_Supermercado]  WITH CHECK ADD  CONSTRAINT [FK_Administrador_Supermercado_Supermercado] FOREIGN KEY([idSupermercado])
REFERENCES [dbo].[Supermercado] ([id])
GO
ALTER TABLE [dbo].[Administrador_Supermercado] CHECK CONSTRAINT [FK_Administrador_Supermercado_Supermercado]
GO
ALTER TABLE [dbo].[Afiliado]  WITH CHECK ADD  CONSTRAINT [FK_Afiliado_Persona] FOREIGN KEY([idPersona])
REFERENCES [dbo].[Persona] ([id])
GO
ALTER TABLE [dbo].[Afiliado] CHECK CONSTRAINT [FK_Afiliado_Persona]
GO
ALTER TABLE [dbo].[Beneficiario]  WITH CHECK ADD  CONSTRAINT [FK_Beneficiario_Afiliado] FOREIGN KEY([idAfiliado])
REFERENCES [dbo].[Afiliado] ([id])
GO
ALTER TABLE [dbo].[Beneficiario] CHECK CONSTRAINT [FK_Beneficiario_Afiliado]
GO
ALTER TABLE [dbo].[Beneficiario]  WITH CHECK ADD  CONSTRAINT [FK_Beneficiario_Persona] FOREIGN KEY([idPersona])
REFERENCES [dbo].[Persona] ([id])
GO
ALTER TABLE [dbo].[Beneficiario] CHECK CONSTRAINT [FK_Beneficiario_Persona]
GO
ALTER TABLE [dbo].[Cajero_Supermercado]  WITH CHECK ADD  CONSTRAINT [FK_Cajero_Supermercado_Persona] FOREIGN KEY([idPersona])
REFERENCES [dbo].[Persona] ([id])
GO
ALTER TABLE [dbo].[Cajero_Supermercado] CHECK CONSTRAINT [FK_Cajero_Supermercado_Persona]
GO
ALTER TABLE [dbo].[Cajero_Supermercado]  WITH CHECK ADD  CONSTRAINT [FK_Cajero_Supermercado_Supermercado] FOREIGN KEY([idSupermercado])
REFERENCES [dbo].[Supermercado] ([id])
GO
ALTER TABLE [dbo].[Cajero_Supermercado] CHECK CONSTRAINT [FK_Cajero_Supermercado_Supermercado]
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD  CONSTRAINT [FK_Compra_Beneficiario] FOREIGN KEY([idBeneficiario])
REFERENCES [dbo].[Beneficiario] ([id])
GO
ALTER TABLE [dbo].[Compra] CHECK CONSTRAINT [FK_Compra_Beneficiario]
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD  CONSTRAINT [FK_Compra_Supermercado1] FOREIGN KEY([idSupermercado])
REFERENCES [dbo].[Supermercado] ([id])
GO
ALTER TABLE [dbo].[Compra] CHECK CONSTRAINT [FK_Compra_Supermercado1]
GO
ALTER TABLE [dbo].[CompraDetalle]  WITH CHECK ADD  CONSTRAINT [FK_CompraDetalle_Compra] FOREIGN KEY([idCompra])
REFERENCES [dbo].[Compra] ([id])
GO
ALTER TABLE [dbo].[CompraDetalle] CHECK CONSTRAINT [FK_CompraDetalle_Compra]
GO
ALTER TABLE [dbo].[CompraDetalle]  WITH CHECK ADD  CONSTRAINT [FK_CompraDetalle_Producto1] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([id])
GO
ALTER TABLE [dbo].[CompraDetalle] CHECK CONSTRAINT [FK_CompraDetalle_Producto1]
GO
ALTER TABLE [dbo].[Supermercado]  WITH CHECK ADD  CONSTRAINT [FK_Supermercado_Red_Supermercado] FOREIGN KEY([idRedSupermercado])
REFERENCES [dbo].[Red_Supermercado] ([id])
GO
ALTER TABLE [dbo].[Supermercado] CHECK CONSTRAINT [FK_Supermercado_Red_Supermercado]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Persona] FOREIGN KEY([idPersona])
REFERENCES [dbo].[Persona] ([id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Persona]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([id])
REFERENCES [dbo].[Rol] ([id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
USE [master]
GO
