@model CompraDetalle

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-inline">
    <h2>Compra Detalle</h2>
    <h3>Compra #: @TempData["idCompra"]</h3>
</div>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="producto" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="producto" asp-items="@ViewBag.Productos" class="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="cantidad" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="cantidad" class="form-control" placeholder="Cantidad" />
                <span asp-validation-for="cantidad" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <input asp-for="compra" value="@TempData["idCompra"]" class="form-control" type="hidden" />
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Agregar" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div class="form-inline">
    <a asp-controller="Compra" asp-action="Validar">Retornar validar prerrequisitos de compra</a> |
    <a asp-controller="CompraDetalle" asp-action="List" asp-route-idCompra="@TempData["idCompra"]">Ver productos de la compra</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




