@model Beneficiario

@{
    ViewData["Title"] = "Crear Beneficiario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear Beneficiario</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Beneficiario</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="identificacion" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="identificacion" class="form-control" placeholder="Identificaci&oacute;n"/>
                <span asp-validation-for="identificacion" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="nombres" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="nombres" class="form-control" placeholder="Nombres"/>
                <span asp-validation-for="nombres" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="apellidos" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="apellidos" class="form-control" placeholder="Apellidos"/>
                <span asp-validation-for="apellidos" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="numeroTelefono" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="numeroTelefono" class="form-control" placeholder="N&uacute;mero de Tel&eacute;fono" />
                <span asp-validation-for="numeroTelefono" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="email" class="form-control" placeholder="Email"/>
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="direccionResidencia" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="direccionResidencia" class="form-control" placeholder="Direcci&oacute;n de Residencia"/>
                <span asp-validation-for="direccionResidencia" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ciudadResidencia" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ciudadResidencia" class="form-control" placeholder="Ciudad de Residencia"/>
                <span asp-validation-for="ciudadResidencia" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="cupo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="cupo" class="form-control" placeholder="Cupo (COP)"/>
                <span asp-validation-for="cupo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="fechaCompraInicio" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="fechaCompraInicio" class="form-control" placeholder="Fecha de inicio de compra"/>
                <span asp-validation-for="fechaCompraInicio" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="fechaCompraFin" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="fechaCompraFin" class="form-control" placeholder="Fecha de fin de compra"/>
                <span asp-validation-for="fechaCompraFin" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="activo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="activo" class="form-control radio" />
                <span asp-validation-for="activo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="afiliado" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="afiliado" asp-items="@ViewBag.Afiliados" class="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Retornar al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
