@using Microsoft.AspNetCore.Identity
@using Polygamy.Models

@if (!string.IsNullOrEmpty(Context.Session.Get<string>("_NombreUsuario")))
{
    var nombreUsuario = Context.Session.Get<string>("_NombreUsuario");

    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a title="Manage">Hola @nombreUsuario!</a>
            </li>
            <li>
                <button type="button" class="btn btn-link navbar-btn navbar-link">Salir</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Ingresar</a></li>
    </ul>
}
